.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-width: 1;
  border-radius: 1rem;
  background-color: var(--bg-light-blue1);
  padding: 30px;
}

.title {
  background: #ffffff;
  border: 1px solid #4cb3f8;
  border-radius: 8px;
  font-size: var(--title);
  font-weight: 700;
  width: 100%;
  padding: 0px 30px 0px 30px;
  margin-right: 1.25rem;
  letter-spacing: 0px;
  line-height: 40px;
}
