@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* カラー */
  --light-blue: #4cb3f8;
  --black80: #333333;
  --black50: #4d4d4d;
  --black30: #b3b3b3;
  --light-blue1: #4cb3f8;

  /* フォントサイズ */
  --title: 24px;
  --body: 16px;
  --caption: 12px;
  --minimum: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-blue1: #c8e6fa;
  }
}

body {
  color: var(--black80);
  font-size: var(--body);
}
